$shadow: rgba(0, 0, 0, 0.33);
$back-sqr: rgba(128, 128, 128, 0.604);


.aboutp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    margin: 0 auto;
    // border: 1px solid rgba(255, 255, 255, 0.789);
    background: $back-sqr;
    // background: linear-gradient(0.25turn,rgba(0, 0, 0, 0.938),rgba(255, 255, 255, 0.604),rgba(0, 0, 0, 0.938));
    box-shadow: 15px 15px 10px $shadow;
    animation: appearab 1s ease-in-out 0s 1;
    overflow: hidden;
    @keyframes appearab {
        0% {
          height: 0;
          width: 0;
          font-size: 0px;
        }
        80% {
          font-size: 0px;
        }
        100% {
            height: 600px;
            width: 500px;
        }
      }
}
.aboutc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 2px $shadow;

    .abouth1{
        font-size: 3rem;
        text-shadow: 2px 2px 1px white;

    }
    p{
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 120px;
        text-shadow: 2px 2px 1px white;

    }
}

@media (min-width: 425px) and (max-width: 768px){
    .aboutp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 400px;
        margin: 0 auto;
        // border: 1px solid rgba(255, 255, 255, 0.789);
        background: $back-sqr;
        // background: linear-gradient(0.25turn,rgba(0, 0, 0, 0.938),rgba(255, 255, 255, 0.604),rgba(0, 0, 0, 0.938));
        box-shadow: 15px 15px 10px $shadow;
        animation: appearab 1s ease-in-out 0s 1;
        overflow: hidden;
        @keyframes appearab {
            0% {
              height: 0;
              width: 0;
              font-size: 0px;
            }
            80% {
              font-size: 0px;
            }
            100% {
                height: 550px;
                width: 400px;
            }
          }
    }
    .aboutc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 2px $shadow;
    
        .abouth1{
            font-size: 3rem;
            text-shadow: 2px 2px 1px white;
    
        }
        p{
            margin-bottom: 250px;
            text-shadow: 2px 2px 1px white;
    
        }
    }
}

@media (min-width: 320px) and (max-width: 425px){
    .aboutp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 400px;
        margin: 0 auto;
        // border: 1px solid rgba(255, 255, 255, 0.789);
        background: $back-sqr;
        // background: linear-gradient(0.25turn,rgba(0, 0, 0, 0.938),rgba(255, 255, 255, 0.604),rgba(0, 0, 0, 0.938));
        box-shadow: 15px 15px 10px $shadow;
        animation: appearab 1s ease-in-out 0s 1;
        overflow: hidden;
        @keyframes appearab {
            0% {
              height: 0;
              width: 0;
              font-size: 0px;
            }
            80% {
              font-size: 0px;
            }
            100% {
                height: 550px;
                width: 400px;
            }
          }
    }
    .aboutc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 2px $shadow;
    
        .abouth1{
            font-size: 3rem;
            text-shadow: 2px 2px 1px white;
    
        }
        p{            
            margin-bottom: 250px;
            text-shadow: 2px 2px 1px white;
    
        }
    }
}

@media screen and (max-width: 320px){
    .aboutp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 300px;
        margin: 0 auto;
        // border: 1px solid rgba(255, 255, 255, 0.789);
        background: $back-sqr;
        // background: linear-gradient(0.25turn,rgba(0, 0, 0, 0.938),rgba(255, 255, 255, 0.604),rgba(0, 0, 0, 0.938));
        box-shadow: 15px 15px 10px $shadow;
        animation: appearab 1s ease-in-out 0s 1;
        overflow: hidden;
        @keyframes appearab {
            0% {
              height: 0;
              width: 0;
              font-size: 0px;
            }
            80% {
              font-size: 0px;
            }
            100% {
                height: 550px;
                width: 300px;
            }
          }
    }
    .aboutc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 2px $shadow;
    
        .abouth1{
            font-size: 3rem;
            text-shadow: 2px 2px 1px white;
    
        }
        p{
            margin-bottom: 250px;
            text-shadow: 2px 2px 1px white;
    
        }
    }
}